@model SharedModel.Models.SanPham
@using SharedModel.Models

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <div class="card mb-3" style="max-width: 540px;">
        <div id="products" class="row no-gutters">
            
        </div>
    </div>
</div>
<script>

    var api = 'https://localhost:44327/api/Sanphams/@Model.MaSp';

    function start() {
        getProduct(renderProduct);
    }

    start();

    function getProduct(callback) {
        fetch(api)
            .then(function (reponse) {
                return reponse.json();
            }).then(callback);
    }
    function renderProduct(ps) {
        var prs = document.getElementById('products');
        var htmls = [ps].map(function (p) {
            return `<div class="col-md-4">
                <img src="${p.hinhSp}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">${p.tenSp}</h5>
                    <p class="card-text">Đơn vị tính:${p.donvitinh}</p>
                    <p class="card-text">Đơn giá:${p.dongia}</p>
                    <p class="card-text">Loại Sản Phẩm:${p.maloaiSp.tenLoaiSp}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>`;
        });
        prs.innerHTML = htmls.join('')
    }
</script>



