<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebForUser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section class="topbar bg-light py-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://localhost:44397/"><img class="img-fluid " src="~/Images/logo.jpg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav navbar-nav  ">
                    <li>
                        <a class="nav-link" href="https://localhost:44397/SanPhams"><i class="fa-brands fa-product-hunt"></i>Sản Phẩm<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav mr-auto ">
                    <li>
                        <a class="nav-link" href="https://localhost:44397/GioHangs"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </section>
    <section class="mainmenu bg-light">
        <div class="container">

        </div>
    </section>
    <section class="maincontent">
        @RenderBody()
    </section>
    <section class="footer">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Bách Hóa Tổng Hợp Online</p>
            </footer>
        </div>
    </section>
    <section class="copyright">
    </section>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/475ebd991e.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
